{% load static %}

<!DOCTYPE html>
<html>
<head>
  <title>Workout Logger</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="stles/style.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.js"> </script>
    <!--add additional css -->
<link rel="stylesheet" href="{% static 'styles/style.css' %}">
</head>


<body style="background-color: powderblue">
<!--NAVBAR-->
<div id="navbar" class="container">
<nav class="navbar fixed-top navbar-expand-sm navbar-dark bg-dark">
  <a class="navbar-brand" href="{%url 'fitness_app:home'%}">
    <img src={% static "my_app/Icon.png" %} width="30" height="30" class="d-inline-block align-top" alt="" alt="">Workout Tracker
  </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
    <!-- Nav buttons -->
      <a class="nav-item nav-link active" href="{%url 'fitness_app:home'%}">Home <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" href="{%url 'fitness_app:logger-list'%}">Logger</a>
			<a class="nav-item nav-link" href="{%url 'fitness_app:Calculator'%}">Calculator</a>
      <a class="nav-item nav-link" href="{%url 'fitness_app:strengthstandards'%}">Standards</a>
      <a class="nav-item nav-link" href="{%url 'fitness_app:statsovertime'%}">Stats</a>
      <a class="nav-item nav-link" href="{%url 'fitness_app:editgoals'%}">Goals</a>
   <!-- Buttons for profile and login -->
   {% if user.is_authenticated %}
     <a class="nav-item nav-link" href="{% url 'fitness_app:profile'%}?next={{request.path}}">User: {{ user.get_username }}</a>
     <a class="nav-item nav-link" href="{% url 'logout'%}?next={{request.path}}">Logout</a>
   {% else %}
     <a class="nav-item nav-link" href="{% url 'login'%}?next={{request.path}}">Login</a>
     <a class="nav-item nav-link" href="{% url 'fitness_app:createprofile'%}?next={{request.path}}">Sign Up</a>
   {% endif %}
   </div>
  </ul>
  </div>
</nav>
</div>
<!--NAVBAR-->
<div class="testpad container" style="padding-top:80px;">
  {% block content%}
  replace here so that the basic layout remains same
  {%endblock%}
</div>

<!-- Script input -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
<!-- Block for Javascript -->
{% block javascript %}{% endblock %}
</body>
</html>
